{% extends 'ZenezorejBaseBundle:Default:base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	
	<style>

		#news-content {

			padding: 1em;
			max-width: 1000px;
			margin: 0 auto;
		}

		.news-item {
			color: black;
			
		}

		#form-container {
			max-width: 300px;
			margin: 2em auto 0;
			padding: 1em;
			background: #dec522;
		}

		#form-container li {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		#form-container ul {
			margin: 0;
			padding: 0;
		}

		input {
			display: block;
			margin: 5px 1em;
		}

		.alert {
			margin: 1em 0;
		}
 	</style>
{% endblock %}

{% block body %}


<div class="row main-content">
	<div class="row-fluid">

		<div class="container">
			<div id="form-container">
			<div class="tabbable">
				<ul class="nav nav-tabs">
				  <li><a href="#home" data-toggle="tab">Belépés</a></li>
				  <li><a href="#profile" data-toggle="tab">Regisztráció</a></li>

				</ul>

				<div class="tab-content">
				  	<div class="tab-pane active" id="home">
				  	<!--<form class="form-signin">
				  		<h2 class="form-signin-heading">Bejelentkezés</h2>
				  		<input type="text" class="input-block-level" placeholder="Email address"> 
				  		<input type="password" class="input-block-level" placeholder="Password">
				  		 <label class="checkbox">
				  		 	<input type="checkbox" value="remember-me"> Remember me
				  		 </label>
				  		 <button class="btn btn-large btn-primary" type="submit">Sign in</button>
				  	</form>-->
					  	

						 
						<form action="{{ path('security_login_check') }}" method="POST">
						 
						    <input type="text" id="username" name="_username" placeholder="Felhasználónév" value="{{ last_username }}" />
						    <input type="password" id="password" placeholder="jelszó" name="_password" />
						 
						    <input type="submit" class="btn btn-success" name="login" />
						</form>
					</div> 
					<div class="tab-pane" id="profile">
							{{ form_start(registrationForm) }}
								{{ form_widget(registrationForm.userName, { 'attr': {'placeholder': 'Felhasználónév'} }) }} 
								{{ form_widget(registrationForm.email, { 'attr': {'placeholder': 'Email'} }) }} 
								{{ form_widget(registrationForm.password, { 'attr': {'placeholder': 'Jelszó'} }) }}

								<input type="password" name="confirm" placeholder="Jelszó újra"/>
								<input type="text" name="registrationPassword" placeholder="Regisztrációs jelszó"/>

								<input type="submit" name="register" class="btn btn-success" value="Regisztrálok"/>

								{% if form_errors(registrationForm.userName) %}
								<div class="alert alert-danger">{{ form_errors(registrationForm.userName) }}</div>
								{% endif %}

								{% if form_errors(registrationForm.email) %}
								<div class="alert alert-danger">{{ form_errors(registrationForm.email) }}</div>
								{% endif %}

								{% if form_errors(registrationForm.password) %}
								<div class="alert alert-danger">{{ form_errors(registrationForm.password) }}</div>
								{% endif %}

								{% for flashMessage in app.session.flashBag.get('registrationConfirmError') %}
									<div class="alert alert-danger">{{ flashMessage }}</div>
								{% endfor %}
								{% for flashMessage in app.session.flashBag.get('registrationRegistrationPasswordError') %}
									<div class="alert alert-danger">{{ flashMessage }}</div>
								{% endfor %}
							{{ form_end(registrationForm) }}
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}