{% extends 'ZenezorejAdminPagesBundle:Default:index.html.twig' %}
{% set currentPage = 'events' %}

{% block stylesheets %}
	{{ parent() }}
	
	<style>
		.row {
			margin: 0 10px;
		}

		.panel-body {
			padding: 0;
			padding-bottom: 10px;
		}

		#add-news-form {
			display: none;
		}

		#news-new {
			margin-bottom: 10px;
		}
 	</style>
{% endblock %}

{% block body %}

<div class="row" id="main-content">

	<div id="news-new">
		<button id="show-add-new-form" type="button" class="btn btn-success">Új hír</button>

		<div id="add-news-form">
			{{ form_start(form) }}
			    {{ form_errors(form) }}

			    {{ form_widget(form.content, { 'attr': {'class': 'ckeditor'} }) }}
			    {{ form_widget(form.save, { 'attr': {'class': 'btn btn-default cancel' } }) }}
			    <button class="btn btn-default cancel" type="button">Mégse</button>
			{{ form_end(form) }}
		</div>
	</div>

	{% for row in events %}

	<div class="panel panel-default">
	  <div class="panel-body">
	  	<div class="col-lg-6">
	    {{ row.startDate|date("Y. M d.") }}
		</div>
		<div class="col-lg-6">
			<button style="float: right; margin: 0;" type="button" class="btn btn-danger delete-news" data-id="{{ row.id }}">Töröl</button>
		</div>
	  </div>
	  <div class="panel-footer">{{ row.content }}</div>
	</div>
	
	{% endfor %}

</div>

{% endblock %}